<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Register </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-content>
    <form  class="ion-padding">
        <div class="wrap-input">
          <input class="input"  [ngStyle]="{'border': '2px solid ' + this.color}" [(ngModel)]="email" name="correo" type="text" placeholder="Email" (keyup)="emailValid()" required>
        </div>
        <div class="wrap-input">
          <input class="input" [(ngModel)]="nombre" name="password" type="text" placeholder="Nombre" required>
        </div>
        <div class="wrap-input">
          <input class="input" [(ngModel)]="lastName" name="password" type="text" placeholder="Apellido" required>
        </div>
        <div class="wrap-input">
          <input class="input" [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required>
        </div>
        <div class="wrap-input">
          <input class="input" [(ngModel)]="consfirmPassowrd" name="password" type="password" placeholder="Confirmar contraseña" required>
        </div>
      <div class="container-form-btn">
        <button class="form-btn" type="button" color="danger" expand="block" (click)="register()">Sign In</button>
      </div>
    </form>
  </ion-content>
